.btn-primary{
    background-color: #1ab394;
    border-color: #1ab394;
}
.btn{
    background-color: #1ab394;
    color: #ffffff;
}
ul{
    margin-left: 20%;
    list-style: none;
    display: inline-flex;
}
#home{
    margin-right: 80px;
}
textarea{
    background-color: #e9ecef;
    border-radius: 10px;
}
.col{
    float:left;
}
span{
    float:left;
}
.row{
    margin-bottom: 10px;
}
footer{
    margin-top: 30px;
    bottom:0;
}
label{
    float: left;
}
input{
    margin-bottom: 20px;
}
body{
    min-height: 500px;
    min-width: 500px;
    max-width: 500px;
    max-height: 500px;
}
.title{

    justify-content: center;
    display: flex;
}